
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <span class="label">Gebäude</span>
      
      <div class="form-group">
        
        <input type="text" name="" id="geb" class="form-control" value=""
         required="required" pattern="" title="">
        
      </div>
      <span class="Pos X">Pos X</span>
      
      <div class="form-group">
        
        <input type="text" name="x" id="x" class="form-control" value=""
         required="required" pattern="" title="">
        
      </div>
      <span class="Pos X">Pos Y</span>
      <div class="form-group">
          
          <input type="text" name="y" id="y" class="form-control" value=""
           required="required" pattern="" title="">
          
        </div>
        <span class="Pos X">Beschreibung</span>
        <div class="form-group">
            
            <input type="text" name="desacr" id="descr" class="form-control" value=""
             required="required" pattern="" title="">
            
          </div>
      
    </div>
  </div>
</div>
